<!DOCTYPE html>
<html lang="en" ng-app="app1">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/angular.js/1.5.11/angular.min.js"></script>
    <style type="text/css">
        /* input.ng-valid{
            border:1px white solid;
        } */
        /* input.ng-invalid{
            border: 1px red solid;
        } */
    </style>
</head>
<body>

<div class="col-sm-6 col-sm-offset-2" ng-controller="Bdd">
    <h1>修改密码</h1>
    <ul>
        <li><a class="curlink" href="/user_info/"><span class="glyphicon glyphicon-log-in"></span>&nbsp;我的主页</a>
        </li>
    </ul>
    <form novalidate name="nForm" action="/change_password/" method="post">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">{{ request.session.user_name }}</div>
            </div>
            <!-- <div></div> -->
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">原始密码</div>
                <input type="password" name="password_old" ng-model="password_old" class="form-control">

                <!-- <div class="input-group-addon" ng-cloak ng-if="regPassword.bool">√</div> -->
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">新密码</div>
                <input type="password" name="password_new" ng-model="password" class="form-control">

                <!-- <div class="input-group-addon" ng-cloak ng-if="regPassword.bool">√</div> -->
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">确认密码</div>
                <input type="password" name="password_confirm" ng-model="password2" class="form-control"
                       placeholder="请再次输入密码" required ng-blur="confirm(password,password2,nForm.password.$error)">
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">确认修改</button>

        <div class="row">
            <h1 class="text-center">{{ message }}</h1>
        </div>
    </form>
</div>


</body>
</html>